<% layout('layouts/boilerplate') -%>

<% block('head').append('   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">') %>
<% block('head').append("   <script src='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js'></script>") %>
<% block('head').append("   <link href='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css' rel='stylesheet' />") %>
<% block('head').append("   <link rel='stylesheet' href='/campgrounds/stylesheets/index.css'>") %>


<div class="container mb-5" id="map"></div>
<form class="row ms-5 mb-4 mb-5" action="/campgrounds">
    <div class="col-md-6">
        <input type="search" name="search" id="search-bar" class="form-control"
            placeholder="Search By Title Or Location">
    </div>
    <div class="col-md-3">
        <select class="form-select" name="sort-by">
            <option selected value="">Sort By</option>
            <option value="rating">Rating</option>
            <option value="price">Price</option>
        </select>
    </div>
    <div class="col-3">
        <button class="btn btn-success">Search</button>
    </div>
    </div>
</form>

<% if (searchTerm){ %>
<% if (campgrounds.length>0){ %>
<h1 class="text-center">Search Results For <%= searchTerm %></h1>
<% } else{ %>
<h1 class="text-center">No Results Found For <%= searchTerm %></h1>
<% } %>
<% } else{ %>
<h1 class="text-center">All CampGrounds</h1>
<% } %>
<div class="container my-5 text-center">
    <a href="/campgrounds/new" class="btn btn-success">Add Campground</a>
</div>

<div class="container d-flex flex-wrap campgrounds">
    <% for (let campground of campgrounds){%>
    <div class="card mb-3" style="width: 18rem;">
        <img src="<%= campground.images.length>0?campground.images[0].thumb: "https://st3.depositphotos.com/25155840/37294/v/600/depositphotos_372944400-stock-illustration-text-image-available-circle-icon.jpg" %>"
            class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title"><%= campground.title %></h5>
            <p class="card-text"><%= campground.description %></p>
            <p class="card-text">
                <small class="text-muted"><%= campground.location%></small>
            </p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">An item</li>
            <li class="list-group-item">A second item</li>
            <li class="list-group-item">A third item</li>
        </ul>
        <div class="card-body">
            <a class="btn btn-primary" href="/campgrounds/<%=campground._id%>">View <%=campground.title%></a>
        </div>
    </div>
    <% }%>
</div>
<script>
    const Mapbox_Token = `<%- process.env.MAPBOX_TOKEN %>`
</script>
<script src="/campgrounds/javascripts/clusterMap.js"></script>